body {
    background-color: #6650aa;
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    color: white;
    text-align: center;
  }
  
  div#containerJogo {
    right: 0;
    left: 0;
    margin: auto;
    width: 600px;
    border: 1px solid rgb(200,255,200);
    background-color: rgb(200,200,250);
    font-size: 0;
  }
  
  .casa {
    border-width: 5px;
    background-color: #63b4bc;
    width: 160px;
    height: 160px;
    font-size: 60pt;
    margin: 0;
    position: relative;
  }
  
  table {
      margin: 0 auto;
  }